{% extends 'base.html.twig' %}

{% block title %}Job Board - Home{% endblock %}

{% block body %}
    <div class="bg-gradient-to-r from-indigo-500 via-purple-500 to-yellow-500 p-8">
        <h1 class="text-4xl text-center font-bold text-white">JOB BOARD</h1>
    </div>
{% endblock %}
